index.html.haml
!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
      %title One Night Stand Sleepwear
      %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
        %link{:href => "css/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}
          %link{:href => "css/style.css", :rel => "stylesheet"}
            %link{:href => "http://fonts.googleapis.com/css?family=Covered+By+Your+Grace", :rel => "stylesheet", :type => "text/css"}
  %body
    .container
      %nav.navbar.navbar-default{:role => "navigation"}
        .container-fluid
          .navbar-header
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a{:href => "./", :title => "One Night Stand"}
              %img.header-logo{:alt => "One Night Stand Header Logo", :src => "images/black_logo.png"}/
          / Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                %a{:href => "about.html"} About
              %li
                %a{:href => "sleep-with-us.html"} Sleep With Us
              %li
                %a{:href => "contact.html"} Contact
      .row
        .col-md-12
          %video#video1{:autoplay => "", :style => "width:100%;"}
            %source{:src => "video/One-Night-Stand-Teaser-Video.mp4", :type => "video/mp4"}
              Your browser does not support the video tag.
      .row.social-links
        .col-xs-2
        .col-xs-2.text-center
          %a{:href => "http://instagram.com/onenightstandsleepwear", :title => "One Night Stand on Instagram"}
            %img.socialicon{:alt => "Instagram Logo", :src => "images/Insta.jpg"}/
        .col-xs-1
        .col-xs-2.text-center
          %a{:href => "https://www.facebook.com/onenightstandsleepwear", :title => "One Night Stand Sleepwear On Facebook"}
            %img.socialicon{:alt => "Facebook Logo", :src => "images/Facebook.png"}/
        .col-xs-1
        .col-xs-2.text-center
          %a{:href => "http://www.pinterest.com/onenightstandau/", :title => "One Night Stand Sleepwear On Pinterest"}
            %img.socialicon{:alt => "Pinterest Logo", :src => "images/Pinterest.png"}/
        .col-xs-2
      .row.subscribe-bar
        .col-xs-6
          %p.pull-right.get-in-the-know Get In The Know Before Everyone Else ->
        .col-xs-5
          / Begin MailChimp Signup Form
          %link{:href => "//cdn-images.mailchimp.com/embedcode/slim-081711.css", :rel => "stylesheet", :type => "text/css"}
            #mc_embed_signup
              %form#mc-embedded-subscribe-form.validate{:action => "http://onenightstandsleepwear.us5.list-manage1.com/subscribe/post?u=6ae4145f9720ae34abbad2e30&amp;id=1325df2c1a", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
                %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}
                  / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                  %div{:style => "position: absolute; left: -5000px;"}
                    %input{:name => "b_6ae4145f9720ae34abbad2e30_1325df2c1a", :type => "text", :value => ""}/
                  .clear
                    %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
            / End mc_embed_signup
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}

index.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>One Night Stand Sleepwear</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
  				<div class="container-fluid">
    			    <div class="navbar-header">
      					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        					<span class="sr-only">Toggle navigation</span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
      					</button>
      					<a href="./" title="One Night Stand"><img class="header-logo" src="images/black_logo.png" alt="One Night Stand Header Logo"></a>
    				</div>

    				<!-- Collect the nav links, forms, and other content for toggling -->
    				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav navbar-right">
				        <li><a href="about.html">About</a></li>
				        <li><a href="sleep-with-us.html">Sleep With Us</a></li>
				        <li><a href="contact.html">Contact</a></li>
				      </ul>
				    </div>
				 </div>
			</nav>


				<div class="row">
					<div class="col-md-12">
						<video id="video1" style="width:100%;" autoplay>
							<source src="video/One-Night-Stand-Teaser-Video.mp4" type="video/mp4">
							Your browser does not support the video tag.
						</video>
					</div>					
				</div>
			
				<div class="row social-links">
					<div class="col-xs-2"></div>
					<div class="col-xs-2 text-center"><a href="http://instagram.com/onenightstandsleepwear" title="One Night Stand on Instagram" ><img class="socialicon" alt="Instagram Logo" src="images/Insta.jpg" ></a></div>
					<div class="col-xs-1"></div>
					<div class="col-xs-2 text-center"><a href="https://www.facebook.com/onenightstandsleepwear" title="One Night Stand Sleepwear On Facebook"><img class="socialicon" alt="Facebook Logo" src="images/Facebook.png"></a></div>
					<div class="col-xs-1"></div>
					<div class="col-xs-2 text-center"><a href="http://www.pinterest.com/onenightstandau/" title="One Night Stand Sleepwear On Pinterest"><img class="socialicon" alt="Pinterest Logo" src="images/Pinterest.png"></a></div>
					<div class="col-xs-2"></div>
				</div>
				
				<div class="row subscribe-bar">
					<div class="col-xs-6"><p class="pull-right get-in-the-know">Get In The Know Before Everyone Else -></p></div>
					<div class="col-xs-5">
						<!-- Begin MailChimp Signup Form -->
							<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
							<div id="mc_embed_signup">
							<form action="http://onenightstandsleepwear.us5.list-manage1.com/subscribe/post?u=6ae4145f9720ae34abbad2e30&amp;id=1325df2c1a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
								<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div style="position: absolute; left: -5000px;"><input type="text" name="b_6ae4145f9720ae34abbad2e30_1325df2c1a" value=""></div>
								<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
							</form>
							</div>
						<!--End mc_embed_signup-->
					</div>
				</div>
				
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    	<!-- Include all compiled plugins (below), or include individual files as needed -->
    	<script src="js/bootstrap.min.js"></script>
	</body>
	
</html>
